@charset "utf-8";
/* CSS Document */
.title-page{
	background: #171814;
	color: #0A84FF;
	padding: 10px;
	text-align: center;
}
.login-form{
	background: white;
	border: solid 1px #BEBEBF;
	width: 500px;
	height: auto;
	margin: 0px auto;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 20px;
	font-size:120%;
}
.msg-form{
	margin: 20px 0px; 
}
.login-form h1{
	box-sizing: border-box;
	background: #272822;
	color: #0A84FF;
	padding: 10px;
}
.form-group label{
}
.form-group div input,
.form-group div select{
	border-radius: 0px; 
}
.footer-formWrap{
	margin-top: 25px;
	margin-bottom: 0px;
	
}
.btn-login{
	border: solid 1px #272822;
	border-radius: 0px; 
	color: #0A84FF;
	cursor: pointer;
	display: flex;
	font-weight: 100;
	justify-content: center;
	width: 100%;
	height: 40px;
}
.btn-login:hover{
	border: solid 1px #0A84FF;
}

.add-link{
	display: none;
	margin-bottom: 50px;
	text-align: center;
}